# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.nupkg
*.snupkg

# Rider / VS
.idea/
*.DotSettings.user
launchSettings.json

# Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/
artifacts/

# NuGet
*.lock.json
**/packages/*
!**/packages/build/

# OS
Thumbs.db
.DS_Store
Desktop.ini
logs.zip
logs_output/
